body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2{
    color:red;
}
.f-container{
    border: 2px solid black;
    box-shadow: 0 0 20px rgb(128, 48, 48);
    padding:50px;
    padding-top:90px;
    padding-bottom: 110px;
    width: 350px;
    height: 450px;
}
label{
     display: block;
     margin-bottom: 5px;
     color: #555;
     font-weight: bold;
    }

button[type="submit"] {
     padding: 10px;
     border-radius: 10px;
     border: none;
     background-color: #220bf0;
     color: white;
     cursor: pointer;
     width: 100%;
     font-size: 12px;
    }

     input[type="repassword"],
        input[type="Email Id"],
        input[type="password"],
        input[type="First name"],
        input[type="last name"],
        select{
            width :100%;
            margin-bottom: 5px;
            box-shadow: 0 0 20px rgb(121, 74, 74);
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
